.book_section {
    padding: 0px;
    margin : 0px;
}

.main_section {
    display              : grid;
    grid-template-columns: 4fr 1fr;
}

.student_section{
    background-color: rgb(242, 240, 240);
    padding         : 10px;
    height: 110vh;
    position        : sticky!important;
    top             : 0;
 



}