.user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0%;
}
.user_info{
    display: flex;
    justify-content: space-between;
   
}
.user_info p{
    font-size: 16px;
}
.reading_time{
    display: flex;
    justify-content: space-around;

}
.break_time{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
